# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @chibie @jeremy0x be requested for
# review when someone opens a pull request.
*       @chibie @jeremy0x
